@charset "UTF-8";
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background: #fef7ce; */
  border: 1px solid black;
}
.slider * {
  box-sizing: border-box;
}
.slider .btn {
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  margin-top: 250px;
  transition: 0.2s ease-in-out;
  margin-left: 350px;
}
.slider input[type=radio] {
  position: absolute;
  z-index: 8;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  margin-top: 250px;
  margin-left: 350px;
}
.slider input[type=radio]:hover ~ .btn {
  box-shadow: 0 0 0 1px #000;
}
.slider input[type=radio]:hover ~ .btn:before {
  border-top: 5px solid #000;
  border-right: 5px solid #000;
}
.slider .btn {
  box-shadow: 0 0 0 1px #fff;
  z-index: 999;
  pointer-events: none;
  border-radius: 100%;
}
.slider .btn:before {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  left: 50%;
  top: 50%;
  transform: translateY(calc(-50% - 2.5px)) translateX(-50%) rotate(135deg);
  transition: 0.2s ease-in-out;
}
.slider input {
  opacity: 0;
  z-index: 999;
}
.slider input:first-of-type:checked ~ #wrap:before {
  transition: 0s;
}
.slider input:first-of-type:checked ~ #wrap:after {
  transition: 0s;
}
.slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(2) {
  opacity: 0;
}
.slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(3):before, .slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(3) .label:before {
  transform-origin: top;
}
.slider input:last-of-type:checked {
  z-index: 0;
}
.slider input:last-of-type:checked ~ .btn:before {
  transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
}
.slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1):before, .slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .label:before {
  transform: translateY(0);
}
.slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .image {
  transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
.slider input:nth-of-type(1) {
  z-index: 9;
}
.slider input:nth-of-type(1):checked {
  pointer-events: none;
  opacity: 0;
}
.slider input:nth-of-type(1):checked + input {
  z-index: 20;
}
.slider input:nth-of-type(1):checked ~ #wrap .outer .box:before {
  transform: translateY(0%);
}
.slider input:nth-of-type(1):checked ~ #wrap:before {
  transform: translateX(0%);
}
.slider input:nth-of-type(1):checked ~ #wrap:after {
  transform: translateY(0%);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0.3s;
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .content p:before {
  transform: translateY(0);
  transition-delay: 0.45s;
  opacity: 1;
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) p.classifications {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0.2s;
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .image {
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition-delay: 0.1s;
  transform: translateX(-50%) translateY(-50%);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .label:before {
  transform: translateY(0);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1):before {
  transform: translateY(0);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(2) .content {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(2) p.classifications {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(2) .image {
  transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(0) .image {
  transition: 0.3s ease-in-out;
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(0) .label:before {
  transform: translateY(0);
}
.slider input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(0):before {
  transform: translateY(0);
}
.slider input:first-of-type:checked ~ #wrap:before {
  transition: 0s;
}
.slider input:first-of-type:checked ~ #wrap:after {
  transition: 0s;
}
.slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(2) {
  opacity: 0;
}
.slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(3):before, .slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(3) .label:before {
  transform-origin: top;
}
.slider input:last-of-type:checked {
  z-index: 0;
}
.slider input:last-of-type:checked ~ .btn:before {
  transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
}
.slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1):before, .slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .label:before {
  transform: translateY(0);
}
.slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .image {
  transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
.slider input:nth-of-type(2) {
  z-index: 8;
}
.slider input:nth-of-type(2):checked {
  pointer-events: none;
  opacity: 0;
}
.slider input:nth-of-type(2):checked + input {
  z-index: 20;
}
.slider input:nth-of-type(2):checked ~ #wrap .outer .box:before {
  transform: translateY(25%);
}
.slider input:nth-of-type(2):checked ~ #wrap:before {
  transform: translateX(-25%);
}
.slider input:nth-of-type(2):checked ~ #wrap:after {
  transform: translateY(25%);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0.3s;
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .content p:before {
  transform: translateY(0);
  transition-delay: 0.45s;
  opacity: 1;
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) p.classifications {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0.2s;
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .image {
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition-delay: 0.1s;
  transform: translateX(-50%) translateY(-50%);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .label:before {
  transform: translateY(0);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2):before {
  transform: translateY(0);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(3) .content {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(3) p.classifications {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(3) .image {
  transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(1) .image {
  transition: 0.3s ease-in-out;
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(1) .label:before {
  transform: translateY(0);
}
.slider input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(1):before {
  transform: translateY(0);
}
.slider input:first-of-type:checked ~ #wrap:before {
  transition: 0s;
}
.slider input:first-of-type:checked ~ #wrap:after {
  transition: 0s;
}
.slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(2) {
  opacity: 0;
}
.slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(3):before, .slider input:first-of-type:checked ~ #wrap .slide:nth-of-type(3) .label:before {
  transform-origin: top;
}
.slider input:last-of-type:checked {
  z-index: 0;
}
.slider input:last-of-type:checked ~ .btn:before {
  transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
}
.slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1):before, .slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .label:before {
  transform: translateY(0);
}
.slider input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .image {
  transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
.slider input:nth-of-type(3) {
  z-index: 7;
}
.slider input:nth-of-type(3):checked {
  pointer-events: none;
  opacity: 0;
}
.slider input:nth-of-type(3):checked + input {
  z-index: 20;
}
.slider input:nth-of-type(3):checked ~ #wrap .outer .box:before {
  transform: translateY(50%);
}
.slider input:nth-of-type(3):checked ~ #wrap:before {
  transform: translateX(-50%);
}
.slider input:nth-of-type(3):checked ~ #wrap:after {
  transform: translateY(50%);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0.3s;
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .content p:before {
  transform: translateY(0);
  transition-delay: 0.45s;
  opacity: 1;
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) p.classifications {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0.2s;
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .image {
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition-delay: 0.1s;
  transform: translateX(-50%) translateY(-50%);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .label:before {
  transform: translateY(0);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3):before {
  transform: translateY(0);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(4) .content {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(4) p.classifications {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(4) .image {
  transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(2) .image {
  transition: 0.3s ease-in-out;
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(2) .label:before {
  transform: translateY(0);
}
.slider input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(2):before {
  transform: translateY(0);
}
.slider #wrap {
  min-width: 800px;
  min-height: 600px;
  position: relative;
  background: #fff;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.45);
}

.slider #wrap .outer {
  z-index: -1;
  position: absolute;
  width: 25%;
  height: 50%;
}
.slider #wrap .outer .box {
  content: "";
  position: absolute;
  width: 100vw;
  height: 400vh;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.slider #wrap .outer .box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #f58286 25%, #1cc6ca 25%, #1cc6ca 50%, #eb4e4e 50%, #eb4e4e 75%, #f58286 75%);
  transition: transform 600ms cubic-bezier(1, 0.885, 0.72, 1);
}
.slider #wrap:before, .slider #wrap:after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 100vh;
  background: linear-gradient(to right, #fef7ce 25%, #f76e3e 25%, #f76e3e 50%, #1cc6ca 50%, #1cc6ca 75%, #fef7ce 75%);
  margin-top: calc(-50vh + 300px);
  z-index: -2;
  transition: transform 650ms cubic-bezier(1, 0.885, 0.72, 1);
  left: 0;
  top: 0;
}
.slider #wrap:before {
  margin-left: calc(-50vw + 400px);
}
.slider #wrap:after {
  background: linear-gradient(to bottom, #4a5bb2 25%, #f19d46 25%, #f19d46 50%, #64377f 50%, #64377f 75%, #4a5bb2 75%);
  opacity: 1;
  left: 50%;
  height: 400vh;
  width: 50vw;
  z-index: -1;
  transition: transform 700ms cubic-bezier(1, 0.885, 0.72, 1);
  margin-top: calc(-250vh + 300px);
}
.slider #wrap .slide {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 15% 85%;
  z-index: 2;
  overflow: hidden;
}
.slider #wrap .slide:nth-of-type(1):before {
  background: #f58286;
}
.slider #wrap .slide:nth-of-type(1) .image {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/d/d4/Donkey_Kong_character.png");
}
.slider #wrap .slide:nth-of-type(1) .label:before {
  background: #64377f;
}
.slider #wrap .slide:nth-of-type(1) .content h1:before {
  content: "Donkey Kong";
}
.slider #wrap .slide:nth-of-type(1) p.classifications span:first-of-type:after {
  content: "Donkey kong";
}
.slider #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(2):after {
  content: "1981";
}
.slider #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(3):after {
  content: "Japan";
}
.slider #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(4):after {
  content: "Yes";
}
.slider #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(5):after {
  content: "Angry";
}
.slider #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(6):after {
  content: "Nintendo";
}
.slider #wrap .slide:nth-of-type(2):before {
  background: #1cc6ca;
}
.slider #wrap .slide:nth-of-type(2) .image {
  background-image: url("https://mariokarttour.com/_nuxt/img/d85c816.png");
}
.slider #wrap .slide:nth-of-type(2) .label:before {
  background: #f19d46;
}
.slider #wrap .slide:nth-of-type(2) .content h1:before {
  content: "Mario";
}
.slider #wrap .slide:nth-of-type(2) p.classifications span:first-of-type:after {
  content: "Mario";
}
.slider #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(2):after {
  content: "1981";
}
.slider #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(3):after {
  content: "Japan";
}
.slider #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(4):after {
  content: "Yes";
}
.slider #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(5):after {
  content: "Brave";
}
.slider #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(6):after {
  content: "Nintendo";
}
.slider #wrap .slide:nth-of-type(3):before {
  background: #ec575a;
}
.slider #wrap .slide:nth-of-type(3) .image {
  background-image: url("https://mario.wiki.gallery/images/thumb/0/07/Kirby_SSBU.png/375px-Kirby_SSBU.png");
}
.slider #wrap .slide:nth-of-type(3) .label:before {
  background: #4a5bb2;
}
.slider #wrap .slide:nth-of-type(3) .content h1:before {
  content: "Kirby";
}
.slider #wrap .slide:nth-of-type(3) p.classifications span:first-of-type:after {
  content: "Kirby";
}
.slider #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(2):after {
  content: "1992";
}
.slider #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(3):after {
  content: "Japan";
}
.slider #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(4):after {
  content: "Yes";
}
.slider #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(5):after {
  content: "Happy";
}
.slider #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(6):after {
  content: "Nintendo";
}
.slider #wrap .slide:before, .slider #wrap .slide .label:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background: #f58286;
  z-index: -1;
  transform: translateY(100%);
  transform-origin: bottom;
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
}
.slider #wrap .slide .label {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  position: relative;
  overflow: hidden;
}
.slider #wrap .slide .label:after {
  content: "GAMES";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}
.slider #wrap .slide .label:before {
  transition: all 650ms cubic-bezier(1, 0.885, 0.72, 1);
  width: 100%;
}
.slider #wrap .slide .search {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.slider #wrap .slide .image {
  position: absolute;
  width: 47.5%;
  height: 47.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100vw);
  will-change: transform;
}
.slider #wrap label {
  color: #fff;
  -webkit-text-stroke: 0.75px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  margin: 0;
  top: 275px;
  width: 50%;
  left: -125px;
  transform: rotate(-90deg);
}
.slider #wrap .content {
  position: absolute;
  width: 50%;
  height: auto;
  right: 0%;
  transform: translateY(calc(-50% - 25px));
  top: 50%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: -webkit-clip-path 0.6s ease-in-out;
  transition: clip-path 0.6s ease-in-out;
  transition: clip-path 0.6s ease-in-out, -webkit-clip-path 0.6s ease-in-out;
  padding: 0 75px 100px 100px;
}
.slider #wrap .content p {
  color: #fff;
  float: right;
  text-align: left;
  opacity: 1;
  width: 60%;
  font-size: 14px;
  line-height: 2;
  position: relative;
}
.slider #wrap .content p:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100px;
  left: calc(-60% - 10px);
  top: -20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
  transform: translateY(50px);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.slider #wrap .content p span:after {
  display: inline-block;
  clear: left;
  margin-left: 5px;
}
.slider #wrap .content h1 {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 40px;
}
.slider #wrap .content h1:before {
  content: "";
  display: block;
  text-align: left;
  max-width: 100%;
  /* font-family: "Playfair Display"; */
  color: #fff;
}
.slider #wrap p.classifications {
  position: absolute;
  left: 17.5%;
  top: 25%;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: -webkit-clip-path 0.3s ease-in-out;
  transition: clip-path 0.3s ease-in-out;
  transition: clip-path 0.3s ease-in-out, -webkit-clip-path 0.3s ease-in-out;
}
.slider #wrap p {
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
  opacity: 0.35;
}
.slider #wrap p span {
  display: block;
  clear: both;
  font-weight: 600;
}
.slider #wrap p span:after {
  display: block;
  clear: both;
  font-weight: 300;
  margin-bottom: 10px;
}





